@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

/* Skeleton Base Styles */
.skeleton {
    background: linear-gradient(90deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px;
    margin: 10px 0px;
}

/* Page Layout */
/* .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
} */

/* Left Side - Image Gallery */
.image-gallery {
    width: 40%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

.image-gallery .thumbnail {
    width: 100px;
    height: 100px;
}

.image-gallery .main-image {
    width: 100%;
    height: 100%;
}

/* Right Side - Product Info */
.product-info {
    width: 60%;
    padding: 0 20px;
}

.title {
    width: 80%;
    height: 20px;
}

.rating {
    width: 120px;
    height: 15px;
}

.price-spinner {
    width: 100px;
    height: 20px;
}

.button-spinner {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-gallery,
    .product-info {
        width: 100%;
    }
}


/* product details loader */

.thumb_img_container{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .thumb_img_container {
        flex-direction: row;
        gap: inherit;
    }

    .thumb_img_container .thumbnail{
       width: 80px;
       height: 80px;
    }

    .image-gallery .main-image {
        width: 100%;
        height: 210px;
        position: relative;
        top: 0;
    }

}